html, body {
    overflow-x:hidden;
}

nav.navbar {
    display: none;
}

footer {
    height: 4rem;
}

h1 {
    padding: 2rem 0;
}

#btnQrCode {
    color: black;
}

#callingDisplay {
    background-image: linear-gradient(to right, mediumpurple, midnightblue);
    color: white;
}

.fixed-bottom-left {
    position:fixed;
    bottom:3.5rem;
    left:3rem;
}

.fixed-bottom-right {
    position:fixed;
    bottom:3.5rem;
    right:3rem;
}

.floating-btn {
    display: block;
    padding-top: 0.8rem;
    width:3rem;
    height:3rem;
    background-color:#0C9;
    color:#FFF;
    border-radius:5rem;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}


.visitorNumber {
    font-size: 36pt;
    border-radius: 2.5rem;
    background: mediumblue;
    padding: 2rem;
}

.removeStation {
    color: black;
}

.removeStation:hover {
    text-decoration: none;
}

.imgStation {
    width: 150px;
}

.imgStationMini {
    width: 25%;
}

li.waiting a {

}

li.playing a {
    background-color: lightgreen;
}

li.passed {
    display: none !important;
}

li.passed-visible a {
    background-color: lightgray;
}

li button[type="submit"] {
    display: block;
    width: 100%;
}

li.disable button[type="submit"] {
    background-color: lightgray;
    display: block;
    width: 100%;
}

.stationElem {
    border: 0;
    padding: 0;
}

a.validStation {
    color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* GRID */
.jsgrid-grid-body, .jsgrid-header-scrollbar {
    overflow:hidden !important;
}

.jsgrid-align-right {
    text-align: right !important;
}