//-
    div#loginModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
        form#formLogin.form(action= hostname + "/users/login" role="form" autocomplete="off" novalidate="" method="POST")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        h3 Login
                        button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
                    div.modal-body
                        div.form-group
                            a.float-right(href= hostname + "/users/register") New user ?
                            label(for="usernameField") Username
                            input#usernameField.form-control.form-control-lg(type="text" name="username" required="")
                            div.invalid-feedback Oops, you missed this one.
                        div.form-group
                            label(for="passwordField") Password
                            input#passwordField.form-control.form-control-lg(type="password" required="" autocomplete="new-password")
                            div.invalid-feedback Enter your password too!
                        div.form-group.py-4
                            button.btn.btn-outline-secondary.btn-lg(data-dismiss="modal" aria-hidden="true") Cancel
                            button#btnLogin.btn.btn-success.btn-lg.float-right(type="submit") Login

header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="#") NJ-Queue
        div.collapse.navbar-collapse#navbarCollapse
            div.navbar-nav.mr-auto
            span.mt-2.mt-md-0
                button.btn.btn-outline-success.my-2(data-toggle="modal" data-target="#loginModal") Login