extends ../layouts/layout.pug

block content
    main.flex-fill(role="main")
        div.container
            h3.mt-5.text-center Liste des visiteurs de "#{infosQueue.name}"
                div#listVisitors
                    ul#visitorList.list-group
                        each visitor in visitors
                            li.d-flex.justify-content-between.align-items-center.queueVisitorElem(data-visitor=visitor._id data-station=visitor.station class=visitor.status)
                                a.list-group-item.list-group-item-action.text-right(href="")
                                    span.float-left.badge.badge-primary.badge-pill(style="line-height: inherit;") #{visitor.numId}
                                    if visitor.phone
                                        span #{visitor.phone}
                                    else
                                        span #{visitor.email}