extends ../layouts/layout.pug

block content
    main.flex-fill(role="main")

        div.container
            h3.mt-5.text-center Liste des stations
            br
            div#listStations
                ul#stationsList.list-group
                    each station in stations
                        li.list-group-item.list-group-item-action.stationElem(class=station.status ? "enable" : "disable")
                            - const status = (station.status) ? "false" : "true"
                            form(method="POST" action="../stations/" + station._id)
                                input(type="hidden" name="status" value=status)
                                button.list-group-item.list-group-item-action.text-left(type="submit") #{station.name}