extends ../layouts/layout.pug

block content
    main.flex-fill(role="main")
        div.container
            h1.mt-5.text-center Visiteur n° #{infoVisitor.numId} ajouté à #{infoStation.name}

            p.text-center
                a.btn.btn-succes.btn-lg(type='button' href='/queues/'+queue_id) Retour à la liste des visiteurs