extends ../layouts/layout.pug

block content
    main.flex-fill(role="main")
        div.container
            h1.mt-5.text-center Vous avez été ajouté dans la queue "#{infosQueue.name}", avec le numéro #{infoVisitor.numId}.

            p.text-center
                a.btn.btn-succes.btn-lg(type='button' href='/queues/' + infosQueue._id) Back to queue

block scripts
    script.
        console.log(!{JSON.stringify(infosQueue)})