extends ../layouts/layout

block content
   main.flex-fill(role="main")
      div(class='container')
         div(class='col-sm-12')
            h3 List of queues

         each val in queuesList
            div(class='col-sm-4')
               div(class='card')
                  h5(class='card-header')= val.name
                  div(class='card-body')
                  p(class='card-text') Number of persons waiting: #{val.visitors.length}
                  p(class='card-text') Number of available stations : #{val.stations.length}
                  a(href='/queues/'+val._id class='btn btn-primary') Show

   script
      | console.log(!{JSON.stringify(queuesList)})