extends ../layouts/layout.pug

block stylesheets
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css")
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css")

block content
    main.flex-fill(role="main")
        div.container
            div#stationsModal.modal.fade(tabindex="-1" role="dialog")
                div.modal-dialog.modal-dialog-centered
                    div.modal-content
                        div.modal-header
                            h5.modal-title Choose a station
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body
                            div.container-fluid
                                div.row
                                    each station in infosQueue.stations
                                        div.col-sm.text-center
                                            if station.status
                                                a.validStation(href="../stations/" + station._id + "/addVisitor/")
                                                    img(src=station.status ? station.infos.img_enabled: station.infos.img_disabled).imgStationMini
                                                h4.text-center= station.name
                                            else
                                                img(src=station.infos.image).imgStationMini
                                                h4.text-center= station.name

            div#removeModal.modal.fade(tabindex="-1" role="dialog")
                div.modal-dialog.modal-dialog-centered
                    div.modal-content
                        div.modal-header
                            h5.modal-title Remove from station
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body.text-center
                            div.container-fluid
                                div.row
                                    div.col-sm.text-center
                                        a.passVisitor.removeStation(href="../stations/#/removeVisitor/")
                                            i.fas.fa-hourglass-half.fa-lg
                                            br
                                            h4 Absent
                                    div.col-sm.text-center
                                        a.removeVisitor.removeStation(href="../stations/#/removeVisitor/")
                                            i.fas.fa-sign-out-alt.fa-lg
                                            br
                                            h4 Finished

            div#qrCodeModal.modal.fade(tabindex="-1" role="dialog")
                div.modal-dialog.modal-dialog-centered
                    div.modal-content
                        div.modal-header
                            h5.modal-title Scan the code
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body.text-center
                            img(src=qrCode)

            h3.mt-5.text-center Liste des visiteurs de "#{infosQueue.name}"
            div#ctrlVisitors.clearfix.p-1
                div.float-right
                    button#togglePassed.btn.btn-light
                        i.fas.fa-eye

            div#listVisitors
                ul#visitorList.list-group
                    each visitor in infosQueue.visitors
                        li.d-flex.justify-content-between.align-items-center.queueVisitorElem(data-visitor=visitor._id data-station=visitor.station ? visitor.station._id: visitor.station class=visitor.status)
                            a.list-group-item.list-group-item-action.text-right(href="")
                                span.float-left.badge.badge-primary.badge-pill(style="line-height: inherit;") #{visitor.numId}
                                if visitor.station
                                    span.float-left.badge.badge-success.badge-pill(style="line-height: inherit;") #{visitor.station.name}
                                if visitor.phone
                                    span #{visitor.phone}
                                else
                                    span #{visitor.email}

            //- div#waitingQueue

        div.fixed-bottom-left
            a#btnQrCode(href="")
                i.fas.fa-qrcode

        div.fixed-bottom-right
            a.floating-btn(href="/queues/" + infosQueue._id + "/visitors")
                i.fas.fa-plus

block scripts
    script(src="../../javascript/swiped.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js")
    script.
        console.log(!{JSON.stringify(infosQueue)})

        function openStationModal(visitorId) {
            $(".validStation").data("id", visitorId)
            $('#stationsModal').modal({keyboard: true})
        }

        function openRemoveModal(stationId) {
            $(".removeStation").data("id", stationId)
            $('#removeModal').modal({keyboard: true})
        }

        (function() {
            const socket = io()
            let togglePassed = true
            // $("li.passed").attr('style', 'display: none !important;')

            const swipable = Swiped.init({
                query: '.queueVisitorElem',
                list: true,
                left: 300,
                onOpen: function() {
                    const elem = $(this.elem)
                    if (elem.hasClass("playing")) {
                        openRemoveModal(elem.data("station"))
                    } else {
                        openStationModal(elem.data("visitor"))
                    }
                }
            })

            $('#togglePassed').click(function(e){
                const btn = $('#togglePassed').children("i")
                if(togglePassed) {
                    btn.removeClass("fa-eye-slash");
                    btn.addClass("fa-eye");
                    $("li.passed").addClass("passed-visible").removeClass("passed")
                    togglePassed = false
                }
                else {
                    btn.removeClass("fa-eye");
                    btn.addClass("fa-eye-slash");
                    $("li.passed-visible").removeClass("passed-visible").addClass("passed")
                    togglePassed = true
                }
            })

            $('#stationsModal').on('hidden.bs.modal', function (e) {
                if(!!swipable && typeof swipable[Symbol.iterator] === 'function') {
                    for(const node of swipable) {
                        node.close()
                    }
                }
            })

            $("a.list-group-item").click(function (e) {
                e.preventDefault()
                const elem = $(e.currentTarget).parent()
                if(elem.hasClass("playing")) {
                    openRemoveModal(elem.data("station"))
                }
                else {
                    openStationModal(elem.data("visitor"))
                }
            })

            $("a.validStation").click(function (e) {
                e.preventDefault()
                window.location = e.currentTarget.href + $(e.currentTarget).data('id')
            })

            $("a.passVisitor").click(function (e) {
                e.preventDefault()
                const elem = $(e.currentTarget)
                const hrefParts = elem.attr("href").split("#")
                window.location = hrefParts[0] + elem.data('id') + hrefParts[1] + "?target=passed"
            })

            $("a.removeVisitor").click(function (e) {
                e.preventDefault()
                const elem = $(e.currentTarget)
                const hrefParts = elem.attr("href").split("#")
                window.location = hrefParts[0] + elem.data('id') + hrefParts[1] + "?target=finished"
            })

            $("#btnQrCode").click(function(e) {
                e.preventDefault()
                $('#qrCodeModal').modal( { keyboard: true } )
            })

            // websocket events
            socket.on('updateQueue', function() {
                window.location.reload()
            })
        })()