extends ../layouts/layout.pug

block content
    main#callingDisplay.flex-fill(role="main")
        div.container-fluid
            h1.mt-5.text-center Postes de l'animation "#{infosQueue.name}"
            br

            div.row
                each station in infosQueue.stations
                    div.col-sm
                        h3.text-center= station.name
                        p.text-center
                            img(src=station.status ? station.infos.img_enabled: station.infos.img_disabled).imgStation
                        if station.status
                            h1.visitorNumber.text-center
                                span.label.label-default
                                    b= station.visitor ? "N° " + station.visitor.numId : "..."
                        unless station.status
                            h1.text-center.text-danger Non disponible

            //-
                div.fixed-bottom-left
                    img(src=qrCode)

block scripts
    script.
        (function(){
            const socket = io()
            // websocket events
            socket.on('updateStations', function () {
                window.location.reload()
            })
        })()