extends ../layouts/layout.pug

block content
    main.flex-fill(role="main")
        div.container
            h1.mt-5.text-center Add visitor in queue

            div.alert.alert-dark(role="alert") Environ #{waitingTime} d'attente (estimé)

            form(method='POST')
                div.form-group
                    label(for='exampleInputPassword1') Mobile phone number
                    div.input-group
                        div.input-group-prepend
                            div.input-group-text +41
                        input#exampleInputPassword1.form-control(type='text' placeholder='Mobile phone number' name="phone")
                    //-
                        div.form-group
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Email address' name='email')
                div.form-group
                    small#emailHelp.form-text.text-muted We'll never share visitor's informations with anyone else.
                div.row
                    div.col-sm-6.text-center
                        button.btn.btn-primary.m-2(type='submit') Réserver place
                    div.col-sm-6.text-center
                        button#btnBack.btn.btn-outline-secondary.m-2(type='button') Retour

block scripts
    script.
        $('#btnBack').click(function(e){
            history.back()
        })